body {
    margin: 0;
}

#appContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#imageContainer {
    width: 320px;
    height: 480px;
    border: 3px solid;
    border-radius: 30px;
    background: no-repeat center/30% url(../resources/skull-and-bones.svg);
}
